<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherReport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D56D2BB21EC120150019F018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D56D2BCE1EC120160019F018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5C1D29C1EC3A81400A34B9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
