<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>html</key>
	<string>&lt;h1&gt;&quot;Weather&quot; is app that gives you information about weather conditions for next 5 days every 3 hours for any location in the world.&lt;br /&gt;&lt;br /&gt;App modes:&lt;br /&gt;1. pin drop mode - enables user to bookmark locations by tapping&lt;br /&gt;&amp;nbsp; &amp;nbsp; on map&lt;br /&gt;&lt;br /&gt;2. pin drag mode - drag purple pin to location you want to bookmark. Pin is created when you first tap on map&lt;/h1&gt;</string>
</dict>
</plist>
